.todolist {
	max-width: 500px;
	width: 100%;
	margin-bottom: 50px;
}

.todolist .header {
	display: flex;
	align-items: center;
	height: 35px;
	margin-bottom: 25px;
}

.todolist .header img {
	height: 35px;
	width: 35px;
	margin-right: 15px;
}

.todolist .header h1 {
	font-size: 26px;
	color: #fff;
}

.todolist .todolist__desc {
	font-size: 14px;
	color: #bdc3c7;
}

.todolist .todolist__items {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
}

.todolist .todolist__title {
	width: 100%;
	padding: 10px;
	background-color: #34495e;
	cursor: pointer;
}

.todolist .todolist__title h3 {
	color: white;
}

.todolist .todolist__title:hover {
	background-color: #2c3e50;
}

.todolist .todolist__title--first {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.todolist .todolist__todos {
	padding: 10px;
}

@media only screen and (min-width: 900px) {
	.todolist {
		margin-left: 25px;
		margin-right: 25px;
	}
}
