.form {
	width: 100%;
	max-width: 400px;
	margin-bottom: 50px;
}

.form button {
	background-color: #3498db;
	margin: auto;
	margin-bottom: 25px;
}

.form button:hover {
	background-color: #2980b9;
}

.form .formarea {
	width: 100%;
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.34);
}

.form article {
	display: flex;
	flex-direction: column;
}

.form form .warning {
	flex-direction: row;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
	margin-bottom: 15px;
}

.form form .warning span {
	color: #004085;
	font-weight: bold;
	margin-right: 3px;
}

.form form p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #34495e;
}

.form form span {
	color: #c0392b;
}

.form form span.error {
	color: #e74c3c;
	font-weight: normal;
	margin-left: auto;
	font-size: 12px;
	margin-top: -7px;
	margin-right: 2px;
}

.form input[type="text"],
.form textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ecf0f1;
	border-radius: 2px;
	margin-bottom: 10px;
	color: #95a5a6;
	resize: none;
}

.form input[type="text"]:focus,
.form textarea:focus {
	border: 1px solid #34495e;
	outline: none;
	background-color: #ecf0f1;
	color: #34495e;
}

.form form .buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.form input[type="submit"],
.form input[type="button"] {
	margin-left: 10px;
	margin-bottom: 0px;
}

.form input[type="submit"] {
	background-color: #1abc9c;
}

.form input[type="submit"]:hover {
	background-color: #16a085;
}

.form input[type="submit"].buttons--edit {
	background-color: #e67e22;
}

.form input[type="submit"].buttons--edit:hover {
	background-color: #d35400;
}

.form input[type="button"] {
	background-color: #e74c3c;
}

.form input[type="button"]:hover {
	background-color: #c0392b;
}

@media only screen and (min-width: 950px) {
	.form {
		margin-left: auto;
	}

	.form button {
		margin: initial;
		margin-bottom: 25px;
	}
}
